---
import type { Post } from "../type";
import Badge from "./badge.astro";

type Props = {
    post: Post;
};

const { post } = Astro.props;
---

<article>
    <div class="space-y-1 pb-10 text-center">
        <time class="text-base font-medium leading-6 text-gray-400">{post.revisedAt}</time>
        <h1
            class="text-3xl font-extrabold leading-9 tracking-tight sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
        >
            {post.title}
        </h1>
        <div class="flex space-x-2 justify-center">
            <Badge isPrimary={true} text={post.game.title} />
            {post.tags.map((tag) => <Badge text={tag} />)}
        </div>
        <div class="divider"></div>
    </div>
    <div class="markdown" set:html={post.body} />
</article>

<style is:global>
    /* list-insideでリストをネストさせる */
    .markdown ul {
        @apply list-disc list-inside pl-4 mb-4;
    }
    .markdown h2, h3 {
        @apply font-bold mb-4;
    }
    .markdown h2, h3 {
        @apply border-b-2 border-solid border-base-content border-opacity-10;
    }
    .markdown h2 {
        @apply text-2xl;
    }
    .markdown h3 {
        @apply text-lg;
    }
    .markdown p {
        @apply mb-4;
    }
</style>
